chef_server_url "{{ chef_client['client']['config']['chef_server_url'] }}"
client_key "{{ chef_client['client']['config']['client_key'] }}"
client_registration_retries "{{ chef_client['client']['config']['client_registration_retries'] }}"
diff_disabled {{ chef_client['client']['config']['diff_disabled'] }}
enable_reporting {{ chef_client['client']['config']['enable_reporting'] }}
enable_selinux_file_permission_fixup {{ chef_client['client']['config']['enable_selinux_file_permission_fixup'] }}
environment "{{ chef_client['client']['config']['environment'] }}"
file_atomic_update {{ chef_client['client']['config']['file_atomic_update'] }}
group {{ chef_client['client']['config']['group'] }}
interval "{{ chef_client['client']['config']['interval'] }}"
json_attribs "{{ chef_client['client']['config']['json_attribs'] }}"
log_level {{ chef_client['client']['config']['log_level'] }}
log_location "{{ chef_client['client']['config']['log_location'] }}"
rest_timeout {{ chef_client['client']['config']['rest_timeout'] }}
splay "{{ chef_client['client']['config']['splay'] }}"
ssl_verify_mode {{ chef_client['client']['config']['ssl_verify_mode'] }}
user {{ chef_client['client']['config']['user'] }}
validation_client_name "{{ chef_client['client']['config']['validation_client_name'] }}"
validation_key "{{ chef_client['client']['config']['validation_key'] }}"
verbose_logging {{ chef_client['client']['config']['verbose_logging'] }}
verify_api_cert {{ chef_client['client']['config']['verify_api_cert'] }}
node_name "{{ chef_client['client']['config']['node_name'] }}"

Ohai::Config[:plugin_path] << "/etc/chef/ohai/plugins"

# Do no crash if a handler is missing / not installed yet
begin
rescue NameError => e
  Chef::Log.error e
end

Dir.glob(File.join("/etc/chef", "client.d", "*.rb")).each do |conf|
  Chef::Config.from_file(conf)
end
